/* GLOBAL STYLES */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Comic Neue', cursive;
  color: #000;
  background-color: #fff;
}

#root {
  width: 100%;
}

ul {
  list-style-type: none;
}